<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.PalliativeMedicine"
        tools:targetApi="31">
        <activity
            android:name=".ads.ads"
            android:exported="false" />
        <activity
            android:name=".chat.ListUserChat"
            android:exported="false" />
        <activity
            android:name=".chat.Chat"
            android:exported="false" />
        <activity
            android:name=".Favorite"
            android:exported="false" />
        <activity
            android:name=".topic.AddAdvice"
            android:exported="false" />
        <activity
            android:name=".topic.detailDiseases"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:label="@string/title_activity_home" />
        <activity android:name=".topic.AddTopic" />
        <activity
            android:name=".splash.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.signup"
            android:exported="false" />
        <activity
            android:name=".auth.login"
            android:exported="false" />
        <activity
            android:name=".topic.Advice"
            android:exported="false" />
    </application>

</manifest>